<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="pull-left">{{ recipe.name }}</h4>
        <div class="btn-group pull-right" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList()">To Shopping List</a></li>
                <li><a routerLink="edit">Edit Recipe</a></li>
                <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive" style="max-height: 300px;">
        <hr>
        <p>{{ recipe.description }}</p>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} ({{ingredient.amount}})</li>
        </ul>
    </div>
</div>